<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Accueil - Bibliothèque</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Bienvenue à la Bibliothèque</h1>
      <nav>
        <a href="/livres">Voir les livres</a>
        <a href="/ajouter">Ajouter un livre</a>
      </nav>
    </div>
  </body>
</html>
